$activeColor: #31b4f2;

.f-container {
  width: 85%;
  margin: 0.2rem auto;
  padding: 1rem 2rem;
}

// 首页项目、岗位、精品课程通用组件
.index-item-wrapper {
  text-align: center;
  .index-item-container {
    @extend .f-container;
    .index-item-title {
        font-size: 2rem;
        color: #282828;
    }
    // .index-item-detail {}
    .index-item-line {
      width: 3rem;
      height: 0.2rem;
      margin: 1.5rem auto 1rem;
      background-color: $activeColor;
    }
    .index-item-more {
      padding: 3rem 0 1rem 0;
      button {
        width: 10rem;
        height: 3rem;
        font-size: 1.05rem;
        color: $activeColor;
        border-color: $activeColor;
        &:hover {
          background-color: $activeColor;
          color: #ffffff;
        }
      }
    }
  }
}

// 页面主题
.content-wrapper {
  @extend .f-container;
  .content-container {
  }
}

// 创意项目组件
// 标签
.item-tag {
  display: inline-block;
  height: 32px;
  font-size: 0.9rem;
  line-height: 32px;
  margin: 0rem 1.2rem 1rem;
  border: solid 1px #fff;
  border-radius: 3px;
  padding: 0 0.9rem;
  &:hover {
    cursor: pointer;
    color: $activeColor;
  }
}
.item-activetag {
  color: $activeColor;
  border-color: rgba($activeColor, 0.3);
  background-color: rgba($activeColor, 0.1);
}

// 新建/编辑项目组件
.button-wrapper {
  width: 100%;
  margin-top: 3rem;
  text-align: center;
  button {
    width: 8rem;
    height: 2.5rem;
  }
}

// h2 p margin
.margin {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}